 @model PaginatedList<Feature>
@{
    ViewData["Title"] = "Index";
    int count = (Model.Page-1)*3;
}

<div class="d-flex justify-content-between align-items-center container-fluid">
    <h1>Features</h1>
    <a class="btn btn-success" asp-action="create" asp-controller="feature">Create Feature</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Desc</th>
            <th scope="col">Icon</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var fweature in Model)
        {
            count++;
            <tr>
                <th scope="row">@count</th>
                <td>@fweature.Name</td>
                <td>@fweature.Desc</td>
                <td>@Html.Raw(fweature.Icon)</td>
                
                <td>
                    <a class="btn btn-info me-4 " asp-action="update" asp-controller="feature" asp-route-id="@fweature.Id">Update</a>
                    <a class="btn btn-danger item-delete" asp-action="delete" asp-controller="feature" asp-route-id="@fweature.Id">Delete</a>
                </td>
            </tr>
        }

    </tbody>
</table>
<div class="d-flex justify-content-center fixed" >
    <nav aria-label="...">
        <ul class="pagination">
            @if (Model.HasPrevious)
            {
                <li class="page-item">
                    <a class="page-link" asp-action="index" asp-controller="feature" asp-route-page="@(Model.Page-1)">Previous</a>
                </li>
            }
            @for (int i = 1; i <= Model.TotalPage; i++)
            {
                <li class="page-item @(Model.Page == i ? "active" : "")"><a class="page-link" asp-action="index" asp-controller="feature" asp-route-page="@i">@i</a></li>

            }
            @if (Model.HasNext)
            {
                <li class="page-item">
                    <a class="page-link" asp-action="index" asp-controller="feature" asp-route-page="@(Model.Page+1)">Next</a>
                </li>
            }

        </ul>
    </nav>
</div>



